.container {
  margin: auto;
  max-width: 1200px;
  font-family: monospace;
}

.heading {
  color: rgb(88, 8, 88);
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: rgb(13, 153, 13);
}

.site-title {
  font-family: monospace;
  font-size: 1rem;
  color: orangered;
  font-weight: 450;
  margin: auto;
}
